.overlay-wrapper {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,.8);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    transition:opacity .3s ease-out;
    z-index:-1;
}
.overlay .overlay-wrapper {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    z-index:1000;
}
.hiding .overlay-wrapper {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    z-index:1000;
}
/* LABEL */
.overlay-wrapper  .label {
    position: absolute;
    min-height: 220px;
    padding: 70px 45px;
    background-color: #fff;
    font-size: 24px;
    color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    transition:opacity .6s ease-out;
}
.overlay-wrapper  .label.one-line {
    padding: 92px 45px;
}
.up .overlay-wrapper  .label {
    right: 230px;
    top: 35px;
    transition: right .5s ease-out;
}
.down .overlay-wrapper  .label {
    left: 230px;
    bottom: 35px;
    transition: left .5s ease-out;
}
.overlay.up .overlay-wrapper .label {
    right: 25px;
    padding-right: 230px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}
.overlay.down .overlay-wrapper .label {
    left: 25px;
    padding-left: 230px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}
.overlay.center .overlay-wrapper .label {
    left: 39%;
    bottom: 55px;
}
/* ARROW */
.overlay-wrapper  .arrow {
    position: absolute;
    width:160px;
    height:160px;
    background: url(../images/arrow.gif) no-repeat top;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    transition:opacity .6s ease-out;
}
.up .overlay-wrapper  .arrow {
    right: 52px;
    top: 80px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: top .5s ease-out;
}
.down .overlay-wrapper  .arrow {
    left: 52px;
    bottom: 80px;
    transition: bottom .5s ease-out;
}
.overlay.up .overlay-wrapper .arrow {
    top: 60px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}
.overlay.down .overlay-wrapper .arrow {
    bottom: 60px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}
.overlay.center .overlay-wrapper .arrow {
    left: 41%;
    bottom: 80px;
}
